h1 {
  width: 150px;
  color:DarkOrange;
  align-content: 'left';

}

#title_of{
  width: 150px;
  left: 0px;

}

#first {
  color:blue;
}

.second {
  color: magenta;
}

body {
  background-image: url('/static/charles-deluvio-pJ1XQ-x271Q-unsplash.jpg');
background-size: cover;
}



.container {
  background-color: #ffffe6;
}
