<!doctype html>
<html>
  <head>
    <title> Dina's Movie Recommender </title>
   <link rel = "stylesheet"
  type = "text/css"
  href = "/static/css/bootstrap.min.css" />
  <link rel = "stylesheet"
 type = "text/css"
 href = "/static/style.css" />
  <script src="/static/js/bootsrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>


<h1>Iterrosemary Movie Recommender</h1>

<p id='first'> this is the first text</p>
<p class='second'> this is the second text</p>

<form action='/recommend' method="POST">
  <input name = 'n_movies' value ='' size = "100" placeholder="how many movies do you want?">
    <input name = 'user_movies' value ='' size = "100" placeholder="movie, rating">
  <input type = 'submit' value = 'get recs' style="width: 100px; height: 100px;">
  </form>

          <p> click the <a href="/full_movie_list">link</a> to see full movie list.</p>

<div class="container">
  <h2>Filterable Dropdown</h2>
  <p>Open the dropdown menu and type something in the input field to search for dropdown items:</p>
  <p>Note that we have styled the input field to fit the dropdown items.</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">jQuery</a></li>
      <li><a href="#">Bootstrap</a></li>
      <li><a href="#">Angular</a></li>
    </ul>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
