<!doctype html>
<html>
  <head>
  <!-- Content here -->

  <title> Dina's Movie Recommender </title>

   <link rel = "stylesheet"
  type = "text/css"
  href = "/static/css/bootstrap.min.css" />
  <link rel = "stylesheet"
 type = "text/css"
 href = "/static/style.css" />
  <script src="/static/js/bootsrap.min.js"></script>
</head>
<body>
  <div class="container"  id='title_of'>
<h1>Dina's Movie Recommender</h1>
  </div>

<div class="container">
<p id='first'> Welcome to my movie recommender!</p>

<form action='/recommend' method="POST">
  <input name = 'n_movies' value ='' size = "50" placeholder="how many movies do you want?">
    <input name = 'user_movies' value ='' size = "50" placeholder="movie, rating">
  <input type = 'submit' value = 'get recs' style="width: 100px; height: 50px;">
  </form>

          <p> click the <a href="/full_movie_list">link</a> to see full movie list.</p>
</div>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
